<ion-header>
  <ion-toolbar>
    <ion-title>
      The Most Likely Betting Tips
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item-sliding>
 <ion-list>
 	<div class="date">10.01.2020</div>
	<ion-item>
		<ion-label class="news_type" position="stacked"><p>Champions league</p></ion-label>

		<div class="iGrid">
			<div class="divInline" >Arsenal - Man City</div>
			<div class="divInline2">FT: 2-2 <img src="assets/icon/tick.png" align="right" height="18" width="18" alt="won"></div>
		</div>
		<div class="iGrid">
			<div class="divInline">Tip: 1X</div><div class="divInline2">Odd: 1.9</div>
		</div>
	</ion-item>
	<ion-item>
		<ion-label class="news_type" position="stacked"><p>Champions league</p></ion-label>

		<div class="iGrid">
			<div class="divInline" >Arsenal - Man City</div><div class="divInline2">FT: 2-2 <img src="assets/icon/x.png" align="right" height="18" width="18" alt="lost"></div>
		</div>
		<div class="iGrid">
			<div class="divInline">Tip: 1X</div><div class="divInline2">Odd: 1.9</div>
		</div>
	</ion-item>
  </ion-list>
 </ion-item-sliding>
</ion-content>
