<ion-header>
    <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = 'https://www.scorebat.com/embed/embed.js?v=mto'; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'scorebat-jssdk'));</script>
  <ion-toolbar>
    <ion-title>
      News world over
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let Ct of arrayVideoFeed">
      <ion-item href="https://www.arsenal.com/">
        <ion-thumbnail slot="start">
          <ion-img
              src="{{ Ct.urlToImage }}">
          </ion-img>
        </ion-thumbnail>
        <div class="heading_wrapper">
          <ion-label class="headline">{{Ct.title}}</ion-label>
          <ion-label class="news_type">Latest news</ion-label>
          <ion-label class="time_ago">{{Ct.publishedAt}}</ion-label>
        </div>
      </ion-item>
      <ion-item lines="none">
        <ion-img
          src="{{ Ct.urlToImage }}">
        </ion-img>
      </ion-item>

      <div class="ion-text-justify" id="sub_detail">
       {{Ct.description}}
      </div>

      <div>
        <!-- ads will show here -->
      </div>
      <hr>

    </ion-item-sliding>
  </ion-list>
<!-- 
  <ion-list>
    <ion-item-sliding *ngFor="let Ct of arrayVideoFeed">
        <ion-item>
            <ion-label>{{Ct.title}}

            <iframe [src]='sanitizer.bypassSecurityTrustResourceUrl(Ct.embed.substring(13, 57))' width='100%' height='490px'  style='width:100%;height:490px;overflow:hidden;display:block;' class='_scorebatEmbeddedPlayer_'>
            </iframe>
            <video [src]='sanitizer.bypassSecurityTrustResourceUrl(Ct.embed.substring(13, 57))'></video> -->
            <!-- <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = 'https://www.scorebat.com/embed/embed.js?v=mto'; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'scorebat-jssdk'));</script> -->
<!--          
            </ion-label>
          </ion-item>
    </ion-item-sliding>
  </ion-list> --> 
</ion-content>