<ion-header>
  <ion-toolbar>
    <ion-title>
      News world over
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding>
    <ion-item href="https://www.arsenal.com/">
        <ion-thumbnail slot="start">
          <ion-img src="https://www.avatarys.com/var/resizes/SPORT-IMAGES-%26-BACKGROUNDS/Sport-Logos/English-Premier-League-Logos/500x500-px-Soccer-Logos-/Arsenal%20logo%20avatar%20Facebook%20Soccer%20Avatars.jpg?m=1435257517"></ion-img>
        </ion-thumbnail>
        <div class="heading_wrapper">
            <ion-label class="headline">Ozil is back with a bang but this time arround not fpor</ion-label>
            <ion-label class="news_type">Latest news</ion-label>
            <ion-label class="time_ago">1 hour ago</ion-label>
        </div>        
      </ion-item> 
      <ion-item lines="none">
          <ion-img src="https://cdn.vox-cdn.com/thumbor/Jl20AIk412UV-Wh7A7p_7lDUk70=/0x0:4336x2922/920x613/filters:focal(2002x896:2694x1588):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/61875151/1052761936.jpg.0.jpg"></ion-img>      
      </ion-item>

    <div class="ion-text-justify" id="sub_detail">
        Divisive Arsenal star Mesut Ozil has dropped a major hint that he will start the Gunners' Premier League clash with Wolves this afternoon.
        The German hasn't featured at all in the league since the 2-2 draw with Watford back in September.
    </div> 
    
    <div>
      <!-- ads will show here -->
    </div>
    <hr>
             
  </ion-item-sliding>
  </ion-list>    
</ion-content>