
  @font-face {
    font-family: 'Abril';
    src: url('../assets/fonts/AbrilFatface-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'FuturalPTBoldCondensed';
    src: url('../assets/fonts/FuturaPTCondBold.otf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'FuturalPTLight';
    src: url('../assets/fonts/FuturaPTLight.otf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'FuturalPTMedium';
    src: url('../assets/fonts/FuturaPTMedium.otf');
    font-weight: normal;
    font-style: normal;
  }