<ion-header>
<ion-toolbar>
  <ion-title>News Detail</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
  </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content>

  <ion-item-sliding *ngFor="let Ct of data">
    <ion-item href="#">
      <ion-thumbnail slot="start">
        <ion-img
            src="{{ Ct.urlToImage }}">
        </ion-img>
      </ion-thumbnail>
      <div class="heading_wrapper">
        <ion-label class="headline">{{Ct.title}}</ion-label>        
      </div>
    </ion-item>
    <ion-item lines="none">
      <ion-img
        src="{{ Ct.urlToImage }}">
      </ion-img>
    </ion-item>
    <ion-item>
      <ion-label class="time_ago">{{Ct.source}}</ion-label> 
      <ion-label class="time_ago">{{timeDifference(Ct.publishedAt)}}</ion-label> 
    </ion-item>
    <div class="ion-text-justify" id="sub_detail">
     {{Ct.description}}       
    </div>
     <ion-item class="read_full" (click)="openWebPage(Ct.url)"> Read Full Story From {{Ct.source}}</ion-item>
    <div>
      <!--ads will show here -->
     </div>
    <hr>

  </ion-item-sliding>



<!-- <div class='detailDiv' *ngFor='let Ct of data'>
    <iframe class='detailIframe' id='nn' width='100%' height='100%'  [src]='sanitizer.bypassSecurityTrustResourceUrl(Ct.url)'></iframe>
</div>
<script>
window.onload=function(){
    var ifr=document.getElementById('id');
    ifr.onload=function(){
        this.style.display='block';
        console.log('laod the iframe')
    };
    var btn=document.getElementById('click');    
    btn.onclick=function(){
        ifr.src='https://heera.it';    
    };
};
</script> -->
</ion-content>