<ion-header>
<ion-toolbar>
  <ion-title>newsdetail</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
  </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item-sliding *ngFor="let Ct of data">
    <ion-item href="https://www.arsenal.com/">
      <ion-thumbnail slot="start">
        <!-- <ion-img
            src="{{ Ct.urlToImage }}">
        </ion-img> -->
      </ion-thumbnail>
      <!-- <div class="heading_wrapper">
        <ion-label class="headline">{{Ct}}</ion-label>
        
      </div> -->
    </ion-item>
    <ion-item lines="none">
      <!-- <ion-img
        src="{{ Ct.urlToImage }}">
      </ion-img> -->
      {{Ct.title}}
    </ion-item>

    <!-- <div class="ion-text-justify" id="sub_detail">
     {{Ct.description}}
     <ion-tem [href]="/newsdetail" routerDirection="forward"></ion-tem>
     <ion-button (click)="viewDetail(Ct.title, Ct.publishedAt, Ct.description, Ct.content, Ct.urlToImage, Ct.url, Ct.source.name)" ng-if="Ct != {}"> Read More</ion-button>
    </div> -->

    <div>
      <!-- ads will show here -->
    </div>
    <hr>

  </ion-item-sliding>
</ion-list>
<!-- 
<ion-list>
  <ion-item-sliding *ngFor="let Ct of arrayVideoFeed">
      <ion-item>
          <ion-label>{{Ct.title}}

          <iframe [src]='sanitizer.bypassSecurityTrustResourceUrl(Ct.embed.substring(13, 57))' width='100%' height='490px'  style='width:100%;height:490px;overflow:hidden;display:block;' class='_scorebatEmbeddedPlayer_'>
          </iframe>
          <video [src]='sanitizer.bypassSecurityTrustResourceUrl(Ct.embed.substring(13, 57))'></video> -->
          <!-- <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = 'https://www.scorebat.com/embed/embed.js?v=mto'; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'scorebat-jssdk'));</script> -->
<!--          
          </ion-label>
        </ion-item>
  </ion-item-sliding>
</ion-list> --> 
</ion-content>